In [ ]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
from datetime import date

In [ ]:
In [5]:
pd.Series([1, 1, 2, 3, 5, 8])

In [ ]:
pd.Series([1, 1, 2, 3, 5, 8, 13.5])

In [ ]:
pd.Series([1, 1, 2, 3, 5, 8, 13.5, "asd", date(2017, 1, 1)])

In [ ]:
weather = pd.DataFrame({
    'City': ['MSK', 'SPB', 'NN', 'MSK', 'SPB'],
    'Temperature': [-3, +2, -2, -3, +2],
    'State' : ['Cloudy', 'Clear', 'Snow', 'Cloudy', 'Clear'],
    'Date': [date(2017, 1, 1), date(2017, 1, 1), date(2017, 1, 1), date(2017, 1, 2), date(2017, 1, 2)]
})
weather

In [ ]:
weather = pd.DataFrame()
weather['City'] = ['MSK', 'SPB', 'NN', 'MSK', 'SPB']
weather['Temperature'] = [-3, +2, -2, -3, +2]
weather['State'] = ['Cloudy', 'Clear', 'Snow', 'Cloudy', 'Clear']
weather

In [ ]:
#Файлы для практики
#https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-level-data

In [ ]:
DATA_PATH = '/Users/ashvets/Temp/names/'

In [ ]:
pd.read_csv(DATA_PATH + 'yob1880.txt').head(10)

In [ ]:
names = pd.read_csv(
    DATA_PATH + 'yob2000.txt', 
    names=['Name','Gender','Count']
)
names.head(10)

In [ ]:
names.query('Count > 20000')

In [ ]:
names.query('(Count > 20000 | Count < 10) & Gender == "M"')

In [ ]:
names[(names.Count > 20000) & (names.Gender == "M")]

In [ ]:
names[(names.Name.str.startswith("M")) & (names.Count > 3000)].head(10)

In [ ]:
names[(names.Name.str.startswith("M")) & (names.Count > 3000)].to_csv(
    'example.csv',
    index=False
)

In [ ]:
weather.to_csv('weather.csv', index=False)

In [ ]:
#Сортировка

In [ ]:
names.sort_values(by='Name', ascending=True).head(10)

In [ ]:
names.sort_values(by='Count', ascending=False).head(10)

In [ ]:
#Функции

In [ ]:
names.Count.sum()

In [ ]:
names[names.Gender=='M'].Count.sum(), names[names.Gender=='F'].Count.sum()

In [ ]:
print("{} boys and {} girls".format(
        names[names.Gender=='M'].Count.sum(), 
        names[names.Gender=='F'].Count.sum()
))

In [ ]:
def count_to_len(row):
    return len(row.Name)
names.apply(count_to_len, axis=1)

In [ ]:
def count_to_len(row):
    return len(row.Name)
names['Len'] = names.apply(count_to_len, axis=1)
names.head(10)

In [ ]:
names['Len'] = names.apply(lambda row: len(row.Name), axis=1).head(10)
names.head(10)

In [ ]:
def foo(bar):
    print("bar")
    print(bar)
names.head(3).apply(foo)

In [ ]:
#Другие функции¶ 
#count() – подсчет
#max() – максимальное значение
#min() – минимальное значение
#mean() – среднее
#median() – медиана

In [ ]:
#Объединение и группировка

#Соединение через merge

In [ ]:
cols = ['Name','Gender','Count']
names_1900 = pd.read_csv(DATA_PATH + 'yob1900.txt', names=cols)
names_1950 = pd.read_csv(DATA_PATH + 'yob1950.txt', names=cols)
names_1900_1950 = pd.merge(names_1900, names_1950, on=['Name', 'Gender'], suffixes=('_1900', '_1950'))
names_1900_1950.head(10)

In [ ]:
names_2000 = pd.read_csv(DATA_PATH + 'yob2000.txt', names=cols)
names_1900_1950_2000 = pd.merge(names_1900_1950, names_2000, on=['Name', 'Gender'])
names_1900_1950_2000.head(10)

In [ ]:
def agg_count(row):
    row.Count = row.Count_1900 + row.Count_1950 + row.Count
    return row

names_1900_1950_2000 = names_1900_1950_2000.apply(agg_count, axis=1)
names_1900_1950_2000.head(10)

In [ ]:
del names_1900_1950_2000['Count_1950']

In [ ]:
names_1900_1950_2000[names_1900_1950_2000.Name=="Mary"]

In [ ]:
#Объединение через concat

In [ ]:
names_all = pd.concat([names_1900, names_1950, names_2000], names=['Year', 'Pos'])
names_all.sort_values(by='Count', ascending=False).head(10)

In [ ]:
names_all = pd.concat({'1900': names_1900, '1950': names_1950, '2000': names_2000}, names=['Year', 'Pos'])
names_all[names_all.Name.str.startswith('M')].sort_values(by='Count', ascending=False).head(10)

In [ ]:
#Группировка

In [ ]:
names_all.groupby('Name').sum().head(10)

In [ ]:
names_var2 = names_all.groupby('Name').sum()
names_var2

In [ ]:
names_var2 = names_var2.reset_index()

In [ ]:
names_var2[names_var2.Name == "Mary"]

In [ ]:
names_all.groupby('Gender').sum()

In [ ]:
names_all.groupby('Gender').count()

In [ ]:
def count_top3(years):
    return ['John', 'William', 'Mary']

In [ ]:
count_top3([1880]) == ['John', 'William', 'Mary']

In [ ]:
count_top3([]) == ['James', 'John', 'Robert']

In [ ]:
'''Полезные ссылки
10 minutes to Pandas http://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html
Python Data Science Handbook https://www.oreilly.com/library/view/python-data-science/9781491912126/
Python for Data Analysis  http://www.cin.ufpe.br/~embat/Python%20for%20Data%20Analysis.pdf
Открытые датасеты  https://docs.google.com/spreadsheets/d/1ZSLP1McnXv0FtOd9t7dMp3AfaiusvaGwWV0F9g2pbho/edit#gid=0
https://habrahabr.ru/company/ods/blog/322626'''